name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Write key
      if: ${{ ( github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/dev' )) || github.ref_type == 'tag' }}
      run: |
        if [ ! -z "${{ secrets.KEYSTORE }}" ]; then
          {
            echo "" >> gradle.properties
            echo KEYSTORE_PASSWORD='${{ secrets.KEYSTORE_PASSWORD }}'
            echo KEY_ALIAS='onHit'
            echo KEY_PASSWORD='${{ secrets.KEY_PASSWORD }}'
            echo KEYSTORE_FILE='key.jks'
          } >> gradle.properties
          echo ${{ secrets.KEYSTORE }} | base64 -d > key.jks
        fi

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Debug
      run: ./gradlew assembleDebug

    - name: Build Release
      run: ./gradlew assembleRelease

    - name: Upload Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: onHit-debug
        path: app/build/outputs/apk/debug/*

    - name: Upload Release APK
      uses: actions/upload-artifact@v4
      with:
        name: onHit-release
        path: app/build/outputs/apk/release/*
