name: Sync Release to Xposed-Modules-Repo

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Release Tag'
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: main_build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Fetch Release Assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TARGET_TAG="${{ github.event.inputs.tag_name || github.event.release.tag_name }}"
          echo "Target Tag to sync: $TARGET_TAG"
          mkdir -p sync-assets
          gh release download "$TARGET_TAG" --pattern "*.apk" --dir sync-assets/ --skip-existing
          gh release download "$TARGET_TAG" --pattern "*.zip" --dir sync-assets/ --skip-existing
          if [ -z "$(ls -A sync-assets/)" ]; then
             echo "Error: No assets downloaded. Check if the tag is correct and has files."
             exit 1
          fi

      - name: Parse Version from Filename
        id: parse_version
        run: |
          FULL_PATH=$(find sync-assets/ -name "*-release.apk" | head -n 1)
          if [ -z "$FULL_PATH" ]; then
            echo "Error: No APK file found in sync-assets/"
            exit 1
          fi
          FILENAME=$(basename "$FULL_PATH")
          echo "Found file: $FILENAME"
          TEMP_STR=${FILENAME#onHit-}
          TEMP_STR=${TEMP_STR%-release.apk}
          VC=${TEMP_STR##*-}
          VN=${TEMP_STR%-*}
          XMR_TAG="${VC}-${VN}"
          echo "Extracted VersionCode: $VC"
          echo "Extracted VersionName: $VN"
          echo "Target XMR Tag: $XMR_TAG"
          echo "xmr_tag=$XMR_TAG" >> $GITHUB_OUTPUT
          echo "version_name=$VN" >> $GITHUB_OUTPUT
          TARGET_TAG="${{ github.event.inputs.tag_name || github.event.release.tag_name }}"
          REL_JSON=$(gh release view "$TARGET_TAG" --json body)
          REL_BODY=$(echo "$REL_JSON" | jq -r '.body')
          echo "rel_body<<EOF" >> $GITHUB_OUTPUT
          echo "$REL_BODY" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
          
      - name: Upload to Xposed Repo
        uses: softprops/action-gh-release@v2
        with:
          repository: Xposed-Modules-Repo/mba.vm.onhit
          token: ${{ secrets.XPOSED_MODULES_REPO_PUBLISH_TOKEN }}
          tag_name: ${{ steps.parse_version.outputs.xmr_tag }}
          name: ${{ github.event.release.name || steps.parse_version.outputs.version_name }}
          body: ${{ steps.parse_version.outputs.rel_body }}
          files: "sync-assets/*"
          draft: false
          prerelease: false
